.homepage {
  height: 100vh;
}

.title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}

.logo {
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button-black {
  background-color: black;
  border: 1px solid black;
}
